n8n-workflow.json
{
  "name": "Qwen Chat — Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-custom-chat",
        "responseMode": "streaming",
        "options": { "rawBody": true }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "wh-chat",
      "name": "Chat Webhook",
      "webhookId": "71d1b384-35a4-457f-87a4-93290e12da41"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные из запроса (JSON или FormData)\nlet chatInput = '';\nlet sessionId = '';\nlet systemPrompt = '';\nlet fileContent = '';\n\nconst body = $input.first().json.body || {};\n\n// Если данные пришли через FormData, поле 'data' содержит JSON-строку\nif (body.data) {\n  try {\n    const parsed = JSON.parse(body.data);\n    chatInput = parsed.chatInput || '';\n    sessionId = parsed.sessionId || '';\n    systemPrompt = parsed.systemPrompt || '';\n  } catch(e) {\n    chatInput = body.data;\n  }\n} else {\n  chatInput = body.chatInput || '';\n  sessionId = body.sessionId || '';\n  systemPrompt = body.systemPrompt || '';\n}\n\n// Если есть содержимое файлов (отправляется клиентом как текст)\nif (body.fileContents) {\n  fileContent = body.fileContents;\n}\n\n// Формируем финальный промпт\nlet finalInput = chatInput;\nif (fileContent) {\n  finalInput += '\\n\\n' + fileContent;\n}\n\nreturn [{ json: {\n  chatInput: finalInput,\n  sessionId: sessionId || 'default',\n  systemPrompt: systemPrompt\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "parse-input",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt || 'Ты — полезный ИИ-ассистент. Отвечай красиво, используй эмодзи и форматирование.' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [440, 0],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": { "model": "qwen2.5:3b", "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [440, 220],
      "id": "ollama",
      "name": "Ollama Chat Model",
      "credentials": { "ollamaApi": { "id": "e1vWyHykA3dPQLAj", "name": "Ollama account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [600, 220],
      "id": "memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tools",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 400],
      "id": "wh-tools",
      "name": "Tools Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.body.tool }}", "rightValue": "web_search", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputLabel": "web_search" },
            { "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.body.tool }}", "rightValue": "get_page", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputLabel": "get_page" },
            { "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.body.tool }}", "rightValue": "get_time", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputLabel": "get_time" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [220, 400],
      "id": "switch-tool",
      "name": "Route Tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://html.duckduckgo.com/html/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.body.params.query }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 260],
      "id": "http-search",
      "name": "DuckDuckGo Search"
    },
    {
      "parameters": {
        "jsCode": "// Robust DuckDuckGo HTML parser — multiple strategies\nconst html = $input.first().json.data || $input.first().json.body || '';\nconst results = [];\n\n// Strategy 1: result__a + result__snippet (classic)\nconst blocks = html.split(/class=\"result\\s/);\nfor (let i = 1; i < blocks.length && results.length < 6; i++) {\n  const block = blocks[i];\n  // Extract URL\n  const urlMatch = block.match(/href=\"([^\"]+)\"[^>]*class=\"result__a\"|class=\"result__a\"[^>]*href=\"([^\"]+)\"/);\n  const url = urlMatch ? (urlMatch[1] || urlMatch[2]) : null;\n  // Extract title  \n  const titleMatch = block.match(/class=\"result__a\"[^>]*>([\\s\\S]*?)<\\/a>/);\n  let title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n  // Extract snippet\n  const snipMatch = block.match(/class=\"result__snippet\"[^>]*>([\\s\\S]*?)<\\/a>/);\n  let snippet = snipMatch ? snipMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n  \n  if (!url && !title) continue;\n  results.push({ url: url || '', title: title || 'Без заголовка', snippet: snippet || '' });\n}\n\n// Strategy 2: fallback — find any <a> with href containing http\nif (results.length === 0) {\n  const linkRegex = /<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>([^<]+)<\\/a>/gi;\n  let m;\n  while ((m = linkRegex.exec(html)) !== null && results.length < 6) {\n    const url = m[1];\n    const text = m[2].trim();\n    if (url.includes('duckduckgo.com') || text.length < 5) continue;\n    results.push({ url, title: text, snippet: '' });\n  }\n}\n\nreturn [{ json: { results } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 260],
      "id": "parse-search",
      "name": "Parse Results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tool: 'web_search', result: $json.results }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 260],
      "id": "respond-search",
      "name": "Respond Search"
    },
    {
      "parameters": {
        "url": "={{ $json.body.params.url }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420],
      "id": "http-page",
      "name": "Fetch Page"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&[a-z]+;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nif (text.length > 4000) text = text.substring(0, 4000) + '...';\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "id": "parse-page",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tool: 'get_page', result: { text: $json.text } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420],
      "id": "respond-page",
      "name": "Respond Page"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nreturn [{ json: {\n  datetime: now.toISOString(),\n  date: now.toLocaleDateString('ru-RU'),\n  time: now.toLocaleTimeString('ru-RU'),\n  timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,\n  day: now.toLocaleDateString('ru-RU', { weekday: 'long' })\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 560],
      "id": "get-time",
      "name": "Get Time"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tool: 'get_time', result: $json }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 560],
      "id": "respond-time",
      "name": "Respond Time"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tool: 'unknown', error: 'Инструмент не найден' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 700],
      "id": "respond-fallback",
      "name": "Respond Unknown"
    }
  ],
  "connections": {
    "Chat Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Ollama Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Tools Webhook": { "main": [[{ "node": "Route Tool", "type": "main", "index": 0 }]] },
    "Route Tool": {
      "main": [
        [{ "node": "DuckDuckGo Search", "type": "main", "index": 0 }],
        [{ "node": "Fetch Page", "type": "main", "index": 0 }],
        [{ "node": "Get Time", "type": "main", "index": 0 }],
        [{ "node": "Respond Unknown", "type": "main", "index": 0 }]
      ]
    },
    "DuckDuckGo Search": { "main": [[{ "node": "Parse Results", "type": "main", "index": 0 }]] },
    "Parse Results": { "main": [[{ "node": "Respond Search", "type": "main", "index": 0 }]] },
    "Fetch Page": { "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]] },
    "Extract Text": { "main": [[{ "node": "Respond Page", "type": "main", "index": 0 }]] },
    "Get Time": { "main": [[{ "node": "Respond Time", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
